@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
  :root {
    --font-sans: "Space Grotesk", "Helvetica Neue", Arial, sans-serif;
  }

  body {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
  }
}
