@layer utilities {
  .nav-bar {
    @apply flex items-center justify-center gap-4 md:gap-8 lg:gap-12;
  }

  .footer {
    @apply mt-4 flex w-full items-center justify-center pb-3 text-xs text-emerald-500 md:flex-row;
  }
}
